<aside id="rightSidebar" style="margin-left: 0px;"><h2>Updates</h2>
    <div class="box">
        <ul style="padding-left:10px;">
            <li>First draft of this site.</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
        </ul>
    </div>

    <h3>Comm-Ports</h3>
    <ul>
        <li><a href="https://www.instagram.com/itcouldbeseb/" target="_blank">Instagram</a>
        </li><li><a href="https://bsky.app/profile/itcouldbeseb.bsky.social" target="_blank">Bluesky</a></li>
    </ul></aside>